h1 {
     color: blue;
     font-size: 40px;
}

.selector-clase {
    color: red;
    font-size: 30px;
}

#selector-id {
    color: yellowgreen;
    font-size: 24px;
}

button {
    background-color: red;
    padding: 10px;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    border: none;
    transition: all 1.5s ease;
}

button:hover{
    background-color: green;
     font-size: 25;  
}

.pseudo-clase-hover:hover{
    color: blue;
    cursor: pointer;

}



/* before*/
.prueba-before :: before {





}